.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background-color:#f0fbfa;
    margin:10px auto;
    padding: 20px;
    border-radius: 8px;
    font-family:'Times New Roman', Times, serif;
    font-weight:60px;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend{
    font-size: 1.5em;
}
.form-style-5 label{
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 input[type="submit"],
.form-style-5 select,
.form-style-5 textarea{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background:rgb(243, 242, 242);
    border:none;
    border-radius: 4px;
    margin:0px;
    width: 100%;
    height:auto;
    outline:0px;
    padding: 10PX;
    margin-bottom: 20PX;
    background-color:#eef4f2 ;
    color:#7e8282;
    cursor: pointer;
    box-shadow:7px 7px 20px rgb(180, 182, 182);
}
.form-style-5 input[type=submit]{
    padding: 19px 39px 18px 39px;
    color:#fff;
    margin:0 auto;
    background-color: #0bbb97;
    font-size: 20px;
    text-align: center;
    width: 490px;
    margin-left: 15px;
    border: 1px solid #0bbb97;
}
.form-style-5 input[type=text]:focus,
.form-style-5 input[type=email]:focus,
.form-style-5 select:focus,
.form-style-5 textarea:focus{
    background-color: #dbdcdc;
}
.form-style-5 .number{
    background-color: #0bbb97;
    color:#fff;
    height:40px;
    padding: 5px;
    width:40px;
    margin-right:4px;
    line-height:30px;
    text-align: center;
    text-shadow:10px 10px 20px rgb(122, 123, 123);
    border-radius:15px 15px 15px 0px;
}
